*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body{
    background-color: rgb(17, 17, 17);
    color: white;
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.container{
    display: flex;
    flex: 1;
}
.navbar{
    background-color: rgb(27, 27, 27);
    width: 280px;
    padding-right: 10px;

}

.navbar li{
    padding:7px;

}


.logo{
    padding: 15px 15px;
    display: flex;
}

#main_logo{
    padding-left: 15px;
    width: 110px;
}

#ham{
    width: 25px;
}

ul{
    padding: 5px 20px;
    list-style-type: none;
}
li{
    padding: 2px;
    display: flex;
    align-items: center;
}


.subscription p{
    padding-left: 20px;
    padding-top: 20px;
    font-size: 1rem;
    color: rgb(188, 188, 188);
}

label{
    padding: 10px;
}

.lib{
    padding: 5px;
}

hr{
    border-color: rgb(84, 84, 84);
}

.main_content{
    flex: 1;
    padding: 20px;
}

header{
    display: flex;
    justify-content: space-between;
    padding-bottom: 8px;
}

.box{
    width: 700px;
    height: 40px;
    border-radius: 2px;
    background-color: rgb(17, 17, 17);
    border: 1px solid rgb(67, 67, 67);
    font-size: 15px;
}
.search{
    background-color: rgb(31, 31, 31);
    border: none;
    display: inline-flex;
    padding-left: 17px;
    padding-right: 17px;
    height: 40px;
    align-items: center;
    margin: 0;
    border-radius: 2px;
}
.top_left{
    display: flex;
    padding-left: 150px;
}
.mic{
    height: 30px;
    margin: 8px;
}


.top_right img{
    padding: 8px;
}

.exp a{
    background-color: rgb(39, 39, 39);
    color:white;
    padding: 10px;
    border-radius: 18px;
    margin-right:20px;
}

.exp{
    padding-bottom: 18px;
    padding-top: 8px;
}

.main_container1{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 20px;
}

.thumb1{
    padding: 10px;
    background-color: black;
    border-radius: 10px;
    overflow: hidden;
}

#thumb{
    width: 100%;
}

.video_info{
    margin-top: 10px;
}

.video_info p{
    font-size: 16px;
}
.thumb1 p{
    color: grey;
}
@media (max-width:600px){
    .navbar label{
        display: none;
    }

    .navbar{
        width: 70px;
    }
    .top_right{
        display: none;
    }
    .mic{
        display: none;
    }
    .logo{
        display: none;
    }
    .search{
        padding: 0px;
        margin: 0px;
    }
    .thumb1{
        flex-wrap: wrap;
    }
}
@media (max-width:1500px){
    .top_right{
        display: none;
    }

}
